* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.task {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 14rem;
}

.task button {
  width: 100%;
  background-color: hsl(2, 75%, 48%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.amount {
  margin-right: 3rem;
  font-size: 3rem;
}

.addingTasks button {
  background-color: hsl(189, 75%, 48%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.addingTasks {
  display: flex;
  justify-content: center;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.trueForm {
  text-decoration: line-through;
}
